.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
vmind/node_modules/**
vmind/bower_components/**
vmind/src/**
vmind/less/**
vmind/ui/**
vmind/server/**
vmind/bower.json
vmind/favicon.ico
vmind/Gruntfile.js
vmind/index.html
vmind/mindmapdebug.html
vmind/mindmapdev.html
vmind/LICENSE
vmind/package.json
vmind/README.md
vmind/rollup.config.js
vmind/yarn.lock
vmind/.babelrc
vmind/.bowerrc
vmind/.jscsrc
!vmind/node_modules/kityminder-core/dist/kityminder.core.css
!vmind/node_modules/kityminder-core/dist/kityminder.core.min.js
!vmind/bower_components/bootstrap/dist/css/bootstrap.css
!vmind/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2
!vmind/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff
!vmind/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf
!vmind/bower_components/codemirror/lib/codemirror.css
!vmind/bower_components/hotbox/hotbox.css
!vmind/bower_components/color-picker/dist/color-picker.min.css
!vmind/bower_components/jquery/dist/jquery.js
!vmind/bower_components/bootstrap/dist/js/bootstrap.js
!vmind/bower_components/angular/angular.js
!vmind/bower_components/angular-bootstrap/ui-bootstrap-tpls.js
!vmind/bower_components/codemirror/lib/codemirror.js
!vmind/bower_components/codemirror/mode/xml/xml.js
!vmind/bower_components/codemirror/mode/javascript/javascript.js
!vmind/bower_components/codemirror/mode/css/css.js
!vmind/bower_components/codemirror/mode/htmlmixed/htmlmixed.js
!vmind/bower_components/codemirror/mode/markdown/markdown.js
!vmind/bower_components/codemirror/addon/mode/overlay.js
!vmind/bower_components/codemirror/mode/gfm/gfm.js
!vmind/bower_components/angular-ui-codemirror/ui-codemirror.js
!vmind/bower_components/marked/lib/marked.js
!vmind/bower_components/kity/dist/kity.min.js
!vmind/bower_components/hotbox/hotbox.js
!vmind/bower_components/json-diff/json-diff.js
!vmind/bower_components/color-picker/dist/color-picker.min.js
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json